/* dependency: app.css */

/* Styles */

timer {
  cursor: pointer;
  font-size: var(--fsm);
  font-weight: bold;
  color: var(--fg);
}

.reset-btn {
  cursor: pointer;
  width: var(--iconsize);
  height: var(--iconsize);
  color: var(--bg);
}
.reset-btn:hover {
  color: var(--accent);
}

.workTime {
  color: #4ca6f5;
}
.breakTime {
  color: #51be69;
}
